<!DOCTYPE html>
<html lang="en">

<%- include('head')%>

<body>

    <%- include('header')%>

    <main>
        <div id="myPlayListMain">
            <hr class="hr2">
            <hr class="hr">
            <hr class="hr">
            <hr class="hr1">
            <div class="personalIformation">
                <img class="personalinfo" src='<%= songs[0].profile_image %>' alt="Avatar" id="avatar"" > 
                <h2 class=" glitch personalinfo" data-glitch="<%= songs[0].fullname %>"><%= songs[0].fullname %></h2>
                <h5 id="usernameInfo" class="personalinfo">@<%= songs[0].username %></h5>
                <p id="bioinfo" class="personalinfo"><%= songs[0].bio %></p>

                <section id="formupdate">
                    <button id="updateBtn">Update your Data</button>
                    <form id="updateForm" action="/updatePersonalInformation/<%=songs[0].username%>?_method=put"
                        method="post">
                        <input class="inputpresonal" type="hidden" name="username" id="username"
                            value='<%= songs[0].username %>'>
                        <label for="profileimage">
                            <h6 class="personalLabel">profile Image</h6>
                        </label>
                        <input class="inputpresonal" type="text" name="image" id="image" placeholder="image_url"
                            value="<%= songs[0].profile_image %>">
                        <label for="fullname">
                            <h6 class="personalLabel">Your Name</h6>
                        </label>
                        <input class="inputpresonal" type="text" name="fullname" id="fullname" placeholder="fullname"
                            value="<%= songs[0].fullname %>">
                        <label for="Bio">
                            <h6 class="personalLabel">Bio</h6>
                        </label>
                        <textarea class="inputpresonal" type="a" name="bio" id="bio" placeholder="Bio"
                            value=""><%= songs[0].bio %></textarea>
                        <button class="button" type="submit">Update</button>
                </section>
                </form>
            </div>


            <div id="resultContainer">
                <div class="buttonsconatiner">
                    <a href="#resultContainer"><input class="buttonlits" type="button" value="Lists" id='list'></a>
                    <a href="#resultContainer"><input class="buttonlits" type="button" value="Songs List"
                            id='songslist'></a>
                    <a href="#resultContainer"><input class="buttonlits" type="button" value="Events List"
                            id='eventslist'></a>
                </div>
                <hr class="hr1">
                <hr class="hr">
                <hr class="hr">
                <hr class="hr2">
                <br>
                <section id="resultssSongsList">
                    <h2 class="listTitle">Your Tracks</h2><br>
                    <% if(songs[0].songtitle==null){ %>
                    <h2 class="listStatus">There's no Tracks added</h2>
                    <% } else{ %>
                    <div id="resultsSongsList">
                        <% songs.forEach(song=>{%>
                        <div class="card">
                            <form id="deleteSong" action="/addsong/<%=songs[0].username%>" method="post">
                                <input type="hidden" name="user" id="user" value="<%=songs[0].username%>">
                                <input type="hidden" name="title" id="title" value="<%=song.songtitle%>">
                                <input type="hidden" name="preview" id="preview" value="<%=song.cover_preview%>">
                                <input type="hidden" name="image" id="image" value="<%=song.image_url%>">
                                <input type="hidden" name="name" id="name" value="<%= song.artistname%>">
                                <button id="myButton1" type="submit" data-dismiss="modal" class="close1"><i
                                        class="fa fa-trash" aria-hidden="true" style="font-size:15px"></i></button>
                            </form>
                            <img class="imgSong" src="<%=song.image_url%>"><br>
                            <h3 class="title2"><%=song.songtitle%></h3><br>
                            <h2 class="title1"><%= song.artistname%></h2><br>
                            <audio controls>
                                <source src="<%=song.cover_preview%>" type="audio/mpeg">
                            </audio><br>


                        </div>
                        <%})%>
                    </div>

                </section>
                <% } %>

                <hr class="hr1 sectionhr">
                <hr class="hr sectionhr">
                <hr class="hr sectionhr">
                <hr class="hr2 sectionhr" id="hrmargin">


                <div id="resultsEventsList">
                    <h2 class="listTitle">Your Events</h2><br>
                    <% if(events[0].event_time === null){ %>
                    <h2 class="listStatus">There's no Events added </h2>
                    <% } else{ %>
                    <div class="eventData ">
                        <%  events.forEach(event=>{ %>
                        <div class="card">
                            <form id="deleteEvent" action="/addevent/<%=event.username_event%>" method="post">
                                <input type="hidden" name="user" id="user" value="<%= event.username_event%>">
                                <input type="hidden" name="image" id="image" value="<%= event.event_image%>">
                                <input type="hidden" name="name" id="name" value="<%= event.artist_name %>">
                                <input type="hidden" name="title" id="title" value="<%=event.event_title %>">
                                <input type="hidden" name="time" id="time" value="<%=event.event_time %>">
                                <input type="hidden" name="location" id="location" value="<%=event.location%>">
                                <input type="hidden" name="offer" id="offer" value="<%=event.offer%>">
                                <input type="hidden" name="description" id="description"
                                    value="<%= event.description%>">
                                <input type="hidden" name="venue" id="venue" value="<%=event.ytpe%>">
                                <button id="addEvent" type="submit" data-dismiss="modal" class="close1"><i
                                        class="fa fa-trash" aria-hidden="true" style="font-size:15px"></i></button>
                            </form>
                            <img id="eventsCardimg" src="<%= event.event_image%>">
                            <h2 class="title2"><%= event.artist_name %></h2>
                            <h3 class="title1"><%=event.event_title %></h3>
                            <h3 class="title1"><%=event.event_time %></h3>
                            <p><%=event.location%></p>
                            <p><%=event.offer%></p>
                            <!-- <p><%=event.description%></p> -->
                            <p><%=event.type%></p>
                        </div>
                        <% }); %>

                    </div>

                    <% } %>
                    <hr class="hr1 sectionhr">
                    <hr class="hr sectionhr">
                    <hr class="hr sectionhr">
                    <hr class="hr2 sectionhr" id="hrmargin">
                </div>
            </div>
        </div>
        <hr class="hr1">
        <hr class="hr">
        <hr class="hr">
        <hr class="hr2">
    </main>
    <%- include('footer')%>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/app.js"></script>

</body>

</html>