<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <header>

   </header>

    <main>
    <div class="personalIformation">
       <img src="<%= input.image %>" alt="Avatar" >
       <h2><%= input.fullname %></h2>
        <p><%= input.bio %></p>

        <button >Update your Data</button>
        <form action="/updatePersonalInformation/" method="post">
            <input type="hidden" name="image" id="image"  value="<%= input.image %>">
            <input type="hidden" name="fullname" id="fullname"  value="<%= input.fullname %>">
            <input type="hidden" name="bio" id="bio"  value="<%= input.bio %>">
            <button type="submit">Update</button>
        </form>
        <hr>
    </div>
    </main>

    <footer>

    </footer>
    
</body>
</html>