<!DOCTYPE html>
<html lang="en">

  <%- include('head')%>
  
  <body>
    <%- include('header')%>

    <main>
      <hr class="hr2" />
      <hr class="hr" />
      <hr class="hr" />
      <hr class="hr1" />

      <div style="background: url(../images/b2.jpg)">
        <div id="buttonsForSearchPage">
          <button id='TrackBtn'>Tracks </button>
          <button id='eventBtn'>Events </button>
        </div>


        <div id="searchFormss">
          <form action="/search/<%=user%>" method="POST" class="searchForm" id="songForm">

    
            <input type="text" name="songs"required   placeholder="&#xF002;  Type To Search ...." style="font-family:Arial, FontAwesome" class="one"/>

            <div class="two">
              <input type="radio" name="name" value="artist" class="radio-btn" checked />
              <label for="" class="label1"> Artist Name</label>
            </div>
            <div class="two">
              <input type="radio" name="name" value="song" class="radio-btn" />
              <label for="" class="label1">  Song Name</label>
            </div>
            <button class="btn-song">Search for songs </button>
          </form>
          <div id="eventForm">
            <%- include('events')%>
          </div>
        </div>
      </div>
      <hr class="hr2" />
      <hr class="hr" />
      <hr class="hr" />
      <hr class="hr1" />
    </main>
    <%- include('footer')%>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
