<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    
    <%EventArray.map(element=>{%>
        <div >
            <img src='<%=element.img %>'>
            <h2><%=element.name %></h2>
            <h3><%=element.time %></h3>
            <p><%=element.date %></p>
            <p><%=element.location%></p>
        </div>
   <% })%>

</body>
</html>