<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>

        <section id='addSongByArtist'>
            <% songs.forEach(song=>{%>
                <div>
        <audio controls>  <source src="<%=song.preview%>"type="audio/mpeg"></audio><br>
                <img src="<%=song.image%>"><br>
                <h3><%=song.title%></h3><br>
                <h2><%= song.name%></h2><br>
                
                <form id="addSong<%=song.id%>" action="/addsong/<%=user%>" method="post" >
                    <input type="hidden" name="id" id="id" value="<%=song.id%>">
                    <input type="hidden" name="user" id="user" value="<%=user%>">
                    <input type="hidden" name="title" id="title" value="<%=song.title%>">
                    <input type="hidden" name="preview" id="preview" value="<%=song.preview%>">
                    <input type="hidden" name="image" id="image" value="<%=song.image%>">
                    <input type="hidden" name="name" id="name" value="<%= song.name%>">
                <button type="submit"  style="width: 50px;" ><h2  id="artist<%=song.id%>" >&#9825;</h2></button>
                </form></div>
            <%})%>
               </section>
               <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
       <script src="/js/app.js"></script> 
    </main>
</body>
</html>